body {
  margin: 0;
  background-color: #f9f9f8;
  font-family: "Roboto", sans-serif;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 34px;
  margin: 10px 0 0;
}

.header p {
  margin: 8px 0;
}

.embed {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 50px;
}

.embed a {
  display: block;
  line-height: 30px;
}

.embed .embed-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.embed .verdenskart {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}

.embed iframe {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}

.embed .code {
  margin: 20px 0 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 20px;
}

.map-select {
  position: relative;
}

.map-select label {
  display: inline-block;
  padding-bottom: 4px;
}

.map-select select {
  appearance: none;
  position: relative;
  min-width: 280px;
  height: 40px;
  padding: 5px 15px 5px 15px;
  line-height: 1.5;
  font-size: 16px;
  border: 1px solid #353535;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  display: grid;
}

.map-select:after {
  content: "˅";
  font-family: monospace;
  font-size: 30px;
  color: #005eb8;
  position: absolute;
  top: 25px;
  right: 10px;
  pointer-events: none;
}

iframe {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 100px);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.verdenskart {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 100px);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.mobilkart {
  width: 100%;
  height: 100vh;
}

.mobilkart-select {
  height: 62px;
}

.mobilkart-select .map-select {
  width: 280px;
  padding: 10px;
}

.mobilkart-select .map-select:after {
  top: 13px;
  right: 20px;
}

.mobilkart .verdenskart {
  height: 70%;
}
